<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registro_de_Ponto.Properties.Settings.Registro_PontoConnectionString"
            connectionString="Data Source=GABRIEL-PC\SQLEXPRESS;Initial Catalog=Registro_Ponto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>